// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFD93D;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #e8e8e8;

$purple: #7C46EA;
$dark-purple: #240f38;
