#content {
  padding-top: 102px;
}

#button {
  width: 104px;
}

.avatar-dashboard {
  width: 240px;
  border-radius: 50%;
  border: 2px solid $yellow;
}

// CARDS-PROFILE
.card-profile {
  overflow: hidden;
  height: 120px;
  background: #d7d7d7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 23px;
  width: 70%;
  margin-bottom: 24px;
}

.card-profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-profile h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-profile p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-profile .card-profile-infos {
  padding: 16px;
}
////


// CARDS-PROFILE
.card-services {
  overflow: hidden;
  height: 120px;
  background: #d7d7d7;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 23px;
  width: 70%;
  margin-bottom: 24px;
}

.card-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-info p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}







