<h2>Book my SuperHelperz</h2>

  <%= render "new"
   %>
  <p>Booking status :
  <% if @booking.status %>
  Approved!
  <% else %>
  Pending
  <% end %>
</div> 

<div>
 <%= link_to "Back to your dashboard", :dashboard %>
</div>