<div class="container-status">
  <p>You want to book :</p>
  <h2><%= @booking.listing.name %></h2><br>
  <p>Booking status :
  <% if @booking.status %>
  Approved!
  <% else %>
  Pending
  <% end %>
</div>

