.container-card {
  margin: auto;
  //   width: 100px;
  display: flex;
  justify-content: space-around;
  color: #000000;
}

h2 {
  text-decoration: underline;
}

.btn-preview {
  display: flex;
  justify-content: center;
}
