.container-card {
  margin: auto;
  //   width: 100px;
  display: flex;
  justify-content: space-around;
  color: #000000;
}

h2 {
  text-decoration: underline;
}

.btn-preview {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409d;
}

.purple:hover {
  background-color: #b573d0;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #ce3323;
}

.red:hover {
  background-color: #ff6656;
}

.btn-jumbotron {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30%;
}

h1 {
  text-align: center;
  margin-bottom: 48px;
  color: black;
}

p {
  color: black;
}

.masthead {
  margin-top: 60px;
  height: 100vh;
  min-height: 500px;
  background-image: image-url("landingpage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// CARDS START

@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

$gr-1: linear-gradient(170deg, #01e4f8 0%, #1d3ede 100%);

.gr-1 {
  background: $gr-1;
}

* {
  transition: 0.5s;
}

// .h-100 {
//   height: 100vh !important;
// }
// .align-middle {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
// }

.column {
  margin-top: 3rem;
  padding-left: 3rem;
  margin-bottom: 3rem;
  &:hover {
    padding-left: 0;
    .card .txt {
      margin-left: 1rem;
      h1,
      p {
        color: rgba(255, 255, 255, 1);
        opacity: 1;
      }
    }
    a {
      color: rgba(255, 255, 255, 1);
      &:after {
        width: 10%;
      }
    }
  }
}

.card {
  min-height: 170px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.05rem;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
  .txt {
    margin-left: -3rem;
    z-index: 1;
    h1 {
      margin-left: 45px;
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
    }
    p {
      font-size: 0.7rem;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 0rem;
      margin-top: 33px;
      opacity: 0;
      color: rgba(255, 255, 255, 1);
    }
  }
  a {
    z-index: 3;
    font-size: 1rem;
    color: rgba(0, 0, 0, 1);
    margin-left: 7rem;
    position: relative;
    bottom: -0.5rem;
    text-transform: uppercase;
    &:after {
      content: "";
      display: inline-block;
      height: 0.5em;
      width: 0;
      margin-right: -100%;
      margin-left: 10px;
      border-top: 1px solid rgba(255, 255, 255, 1);
      transition: 0.5s;
    }
  }
  // .ico-card {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;
  // }
  // i {
  //   position: relative;
  //   right: -50%;
  //   top: 60%;
  //   font-size: 12rem;
  //   line-height: 0;
  //   opacity: 0.2;
  //   color: rgba(255, 255, 255, 1);
  //   z-index: 0;
  // }
}

// CARDS END

.container-old {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
